.navbar-default {
    background-color: #db4437;
    border-color: #e7e7e7;

  }
  #page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #dfff80;
  }
  .center {
      text-align: center;
  }
  .navbar-brand {
    padding-top: 1px;
}

body, select,option{
  font-family: 'Athiti', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

h2{
  font-size: 50px;
  font-weight: bold;
}

#myModalLabel{
  font-size: 30px;
  font-weight: bold;
}

.modal-header, .modal-footer {
  background-color: #db4437;
  color: white;
}

input, select, option{
  font-family: 'Athiti', sans-serif !important; 
  font-size: 15px !important; 

}

